

.imageArea {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  overflow: hidden;
  min-height: 400px;
  padding: 0;
  position: relative;
  margin-right: 320px;
}

.uploadArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 8px dashed #e1e1e155;
  border-radius: 0;
  cursor: pointer;
  transition: border-color 0.2s, background-color 0.2s;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
}

.uploadArea:hover {
  border-color: var(--accent-color);
}

.uploadText {
  color: #e1e1e155;
  font-size: 2rem;
  text-transform: uppercase;
  word-spacing: .2rem;
  text-align: center;
}

.canvas {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  background: white;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageButtons {
  position: fixed;
  top: 1rem;
  left: 1rem;
  display: flex;
  gap: 2px;
}

.changeImageButton, .exportButton, .clearButton {
  background: rgba(52, 152, 219, 0.9);
  font-weight: 600;
  transition: all 0.2s;
  backdrop-filter: blur(4px);
  box-shadow: 0 2px 0 0 #000;
}

.changeImageButton:hover, .exportButton:hover, .clearButton:hover {
  transform: translateY(2px);
  box-shadow: none;
}

.exportButton {
  background: #88fcb6;
  color: #000;
}

.changeImageButton {
  background: #f9fe5f;
  color: #000;
}

.imageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.image {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.clearButton {
  background-color: #ec512e;
  transition: background-color 0.2s;
}